<script type="text/javascript" src="https://unpkg.com/vis-timeline@latest/standalone/umd/vis-timeline-graph2d.min.js"></script>

<div class="card mb-3">

    <div class="card-header collapsed" role="button" onclick="$('#DMXScenesCardBody').collapse('toggle');">
        Scenes 
        <span class="float-end">
            <i id="editScenechk" class="fa-solid fa-square-pen intNotSelected" onclick="event.stopPropagation(); toggleEditMode(this)"></i>
        </span>
        <span class="float-end ms-2">
            <i class="intNotSelected fa-square-plus" onclick="event.stopPropagation(); createNewScene()"></i>
        </span>
    </div>
    
    <div class="card-body collapse DMXScenesCardBody" id="DMXScenesCardBody">

        <div id="sceneContainer" class="sceneContainer"></div>

        <div class="editSceneContainer" id="editSceneContainer">

            <div class="form-group">

                <input type="text" class="form-control" id="sceneName" placeholder="Scene Name" onchange="updateSceneName(this.value)">

            </div>

            <h6 id="sceneName" class="sceneName ms-4 mt-2">Timeline</h6>

            <div class="sceneParentContainer">

                <div class="sceneEventContainer" id="sceneEventContainer"></div>

                <div class="sceneDetailButtons"></div>

                <div id="sceneEventContainer"></div>
            </div>

        </div>
        
    </div>

</div>

{% block content %}{% endblock %}

<script>

    window.onload = function() {
		getDMXScenes();
        fetchFixtures();

        $("#editSceneContainer").hide();
	};

    function createNewScene(){
        $("#editSceneContainer").show();
        $("#sceneEventContainer").empty();
        $('#lightingCardBody').collapse('show');
        $("#sceneDetailButtons").empty(); 

        
    }

    function getDMXScenes() {
        $.ajax({
            url: "/api/dmx/scenes",
            type: "GET",
            success: function (response) {
                if (!Array.isArray(response)) {
                    response = [response];
                }
                
                var container = $("#sceneContainer");
                container.empty();

                response.forEach(function (scene) {
                    var name = scene.name;
                    var flash = scene.flash;
                    var repeat = scene.repeat;
                    var totalDuration = scene.duration;
    
                    var sceneDiv = $(document.createElement("div"))
                        .addClass("dmxScene user-select-none")
                        .attr("id", name.replace(/\s+/g, '_') + "_SceneBtn")
                        .attr("role", "button")
                        .on("click", function () {
                            startOrEditScene(name);
                        });
    
                    var sceneText = $(document.createElement("p"))
                        .addClass("title")
                        .text(name);
    
                    var sceneDuration = $(document.createElement("p"))
                        .addClass("duration")
                        .attr("id", name.replace(/\s+/g, '_') + "_Visibleduration")
                        .text(formatDMXSceneDuration(totalDuration));

                    var sceneDurationHidden = $(document.createElement("p"))
                        .addClass("duration")
                        .attr("id", name.replace(/\s+/g, '_')  + "_duration")
                        .attr("style", "display: none;")
                        .text(totalDuration);
    
                    var sceneInfoContainer = $(document.createElement("div"))
                        .addClass("sceneInfoContainer");
    
                    var sceneSettingContainer = $(document.createElement("div"))
                        .addClass("sceneSettingContainer");
    
                    if (flash) {
                        var flashButton = $(document.createElement("i"))
                            .addClass("fas fa-bolt");
    
                        sceneSettingContainer.append(flashButton);
                    }
    
                    if (repeat) {
                        var repeatButton = $(document.createElement("i"))
                            .addClass("fas fa-rotate-right");
    
                        sceneSettingContainer.append(repeatButton);
                    }
    
                    sceneInfoContainer.append(sceneText);
                    sceneInfoContainer.append(sceneDuration);
                    sceneInfoContainer.append(sceneDurationHidden);
                    sceneDiv.append(sceneInfoContainer);
                    sceneDiv.append(sceneSettingContainer);
                    container.append(sceneDiv);
    
                    if (scene.events) {
                        Object.keys(scene.events).forEach(function (eventKey) {
                            var event = scene.events[eventKey];
                            var duration = event.duration;
                            var channels = event.channels;
                            console.log(
                                `Event ${eventKey}: Duration = ${duration}, Channels = `,
                                channels
                            );
                        });
                    }
                });

            },
            error: function (xhr) {
                console.error("Failed to fetch DMX scenes:", xhr.responseText);
            }
        });
    }

    socket.on("sceneStarted", function(message) {
		sceneName = message.scene;
		$("#" + sceneName + "_SceneBtn").addClass("active");
	});

    function formatDMXSceneDuration(duration) {
        var milliseconds = duration % 1000;
        var seconds = Math.floor((duration / 1000) % 60);
        var minutes = Math.floor((duration / (1000 * 60)) % 60);

        return (
            (minutes < 10 ? "0" + minutes : minutes) + '"' +
            (seconds < 10 ? "0" + seconds : seconds) + '"' +
            (milliseconds < 100 ? (milliseconds < 10 ? "00" + milliseconds : "0" + milliseconds) : milliseconds)
        );
    }

    function editScene(sceneName) {
        $.ajax({
            url: "/api/dmx/getScene",
            type: "GET",
            data: { sceneName: sceneName },
            success: function (response) {
                $("#editSceneContainer").show();
                $("#sceneEventContainer").empty();
                $('#lightingCardBody').collapse('show');
                $("#sceneDetailButtons").empty(); 

                $("#sceneName").val(sceneName);

                var scene = response;

                $("#"+scene.name+"_SceneBtn").addClass("active");
                
                if (Array.isArray(scene.events)) {
                    let currentTime = new Date(0); 

                    var i = 1;
                
                    scene.events.forEach(function (event) {
                        const duration = event.duration || 0; 
                        const startTime = new Date(currentTime.getTime()); 
                        const endTime = new Date(currentTime.getTime() + duration); 
                        var sceneContainer = $("#sceneEventContainer");
                        
                        sceneContainer.append(
                            $("<div>")
                                .attr("id", "sceneEvent_" + i)
                                .addClass("dmxSceneEvent cursor-pointer user-select-none")
                                .attr("role", "button")
                                .append(
                                    $("<p>")
                                        .text(startTime.toISOString().substr(11, 8))
                                )
                                .append(
                                    $("<u>")
                                        .text(formatDMXSceneDuration(duration))
                                        .addClass("fs-6")
                                )
                                .on("click", function () {
                                    loadSceneEvent(event, this);
                                })
                        );
                        
                        i++;
                        currentTime = endTime;
                    });
                }
            },
            error: function (xhr) {
                console.error("Failed to fetch scene details:", xhr.responseText);
            }
        });
    }

    function toggleEditMode(elem){
        if ($(elem).hasClass("intNotSelected")){
            $(elem).removeClass("intNotSelected");
            $(elem).addClass("intSelected");
        } else {
            $(elem).removeClass("intSelected");
            $(elem).addClass("intNotSelected");
        }
    }

    function startOrEditScene(name){
        if ($("#editScenechk").hasClass("intSelected")){
            editScene(name);
        } else {
            startScene(name);
        }
    }

    function startScene(sceneName) {
        $.ajax({
            url: "/api/dmx/startScene",
            type: "POST",
            data: { sceneName: sceneName },
            success: function (response) {
                console.log("Scene started:", response);

                repeat = $("#"+sceneName.replace(/\s+/g, '_') + "_SceneBtn").find(".fa-rotate-right").length;

                $("#" + sceneName.replace(/\s+/g, '_') + "_SceneBtn").addClass("active");

                var countdownElement = $("#" + sceneName.replace(/\s+/g, '_') + "_duration");
                var duration = parseInt(countdownElement.text());
                var visibleDurationElement = $("#" + sceneName.replace(/\s+/g, '_') + "_Visibleduration");
                var initialDuration = formatDMXSceneDuration(duration);
                var btnSelector = "#" + sceneName.replace(/\s+/g, '_') + "_SceneBtn";

                $(btnSelector).addClass("active").off('click').on('click', function () {
                    if ($(btnSelector).hasClass("active")) {
                        clearInterval(countdownInterval);
                        $(btnSelector).removeClass("active");
                        visibleDurationElement.text(initialDuration);
                        duration = parseInt(countdownElement.text());
    
                        stopScene(sceneName);
                    }
                    else{
                        startScene(sceneName);
                    }
                });
    
                function startCountdown() {
                    countdownInterval = setInterval(function () {
                        if (duration <= 0) {
                            if (repeat) {
                                duration = parseInt(countdownElement.text());
                            } else {
                                clearInterval(countdownInterval);
                                $(btnSelector).removeClass("active");
                                visibleDurationElement.text(initialDuration);
                                return;
                            }
                        }

                        duration -= 10;
                        var milliseconds = duration % 1000;
                        var seconds = Math.floor((duration / 1000) % 60);
                        var minutes = Math.floor((duration / (1000 * 60)) % 60);
    
                        visibleDurationElement.text(
                            (minutes < 10 ? "0" + minutes : minutes) + '"' +
                            (seconds < 10 ? "0" + seconds : seconds) + '"' +
                            (milliseconds < 100 ? (milliseconds < 10 ? "00" + milliseconds : "0" + milliseconds) : milliseconds)
                        );
                    }, 10);
                }
    
                startCountdown();

            },
            error: function (xhr) {
                console.error("Failed to start scene:", xhr.responseText);
            }
        });
    }

    function stopScene(sceneName){
        $.ajax({
            url: "/api/dmx/stopScene",
            type: "POST",
            data: { sceneName: sceneName },
            success: function (response) {
                console.log("Scene stopped:", response);
            },
            error: function (xhr) {
                console.error("Failed to stop scene:", xhr.responseText);
            }
        });
    }

    function loadSceneEvent(event, element){
        console.log("Loading scene event:", event);

        if (!Array.isArray(event.channels)) {
            channels = [event.channels];
        }

        channels.forEach(function (channel) {
            var fixture = channel.key;
            var channelNumber = channel.channel;
            var value = channel.value;

            var channelElement = $("#fixtureChannel-" + fixture + "-" + channelNumber);
            var valueElement = channelElement.find(".slider");
            var valueLabel = channelElement.find(".valueLabel");

            valueElement.val(value);
            valueElement.trigger("input");
            valueLabel.text(value);
        });
    }

    function updateSceneName(){
        $.ajax({
            url: "/api/dmx/editSceneName",
            type: "POST",
            data: { sceneName: sceneName,
                    newSceneName: $("#sceneName").val() },
            success: function (response) {
                console.log("Scene Name Changed:", response);
            },
            error: function (xhr) {
                console.error("Failed to update scene name:", xhr.responseText);
            }
        });

    }

</script>