<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Real-Time Packet Sniffer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/LCARS/lcars-colors.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/LCARS/lcars-ultra-picard.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='styles/LCARS/jquery-3-7-0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='styles/LCARS/lcars.js') }}"></script>
	<script src="https://kit.fontawesome.com/9d35a24d36.js" crossorigin="anonymous"></script>
</head>

<style>

    body{
        background-color: black;
        overflow: hidden;
    }

	#album-container {
		position: relative;
		width: 220px;
		height: 220px;
	}
	
	#album-cover {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		filter: blur(1.3px);
        filter: brightness(0.4);
	}
	
	#album-container p,
	#album-container span {
		position: relative;
		z-index: 1;
		color: white; /* Make sure the text is visible over the image */
	}

	html {
    overflow: scroll;
    overflow-x: hidden;
	}

	::-webkit-scrollbar {
		width: 0;  /* Remove scrollbar space */
		background: transparent;  /* Optional: just make scrollbar invisible */
	}

	#fixtures-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fixture {
        margin: 10px;
        text-align: center;
    }
    .slider {
        writing-mode: bt-lr; /* IE */
        -webkit-appearance: slider-vertical; /* WebKit */
        width: 8px;
        height: 100px;
    }
    .label {
        margin-top: 10px;
    }
	
</style>

<body>
	<div class="wrap-everything">
		<section id="column-1">
			<div class="lcars-frame">
				<div class="frame-col-1">
					<div class="frame-col-1-cell-a"></div>
					<div class="frame-col-1-cell-b"></div>
					<div class="frame-col-1-cell-c"></div>
				</div>
				<div class="frame-col-2"> </div>
				<div class="frame-col-3 display-vertical">
					<div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div><div class="line"></div>					
				</div>
				<div class="frame-col-4"> </div>
				<div class="frame-col-5">
					<div class="frame-col-5-cell-a"></div>
					<div class="frame-col-5-cell-b"></div>
					<div class="frame-col-5-cell-c"></div>
				</div>
			</div>
			<div class="lcars-frame-after" id="album-container" style="width: 220px; height: 220px;">
				<p>Song Playing:</p>
				<p><span id="musicPlaying"></span></p>
				<div id="album-cover" style="width: 100%; height: 100%;"></div>
			</div>
			
			<div class="lcars-frame-after" >
				<span>BPM:	<a id="musicBPM">0</a> </span>
				<div style="display: flex; flex-direction: row; align-items: center; justify-content: center; gap: 10px;">
					<span style="display: flex;">
						<div id="flashingDot" style="display: inline-block; width: 20px; height: 20px; border-radius: 50%; background-color: #f20;"></div>
					</span>
					<span style="display: flex;">
						<div id="flashingDot2" style="display: inline-block; width: 20px; height: 20px; border-radius: 50%; background-color: #198754;"></div>
					</span>
				</div>
			</div>
			<div class="panel-24 first-needle">
				<div class="panel-24-col-a">
					<div class="panel-24-block-1">
						<div class="panel-24-cube cc-1"> </div>
						<div class="panel-24-cube cc-2"> </div>
						<div class="panel-24-cube cc-3"> </div>
					</div>
					<div class="panel-24-block-2">
						<div class="panel-24-block-3">
							<div class="panel-24-block-4 block-4-color-a"> </div>
						</div>
					</div>
					<div class="panel-24-block-5"> </div>
				</div>
				<div class="panel-24-col-b">
					<div class="panel-24-block-6">
					</div>
					<div class="gauge-wrap">
						<div class="gauge-1"> </div>
						<div class="gauge-2">
							100
						</div>
						<div class="gauge-1"> </div>
						<div class="gauge-2">
							90
						</div>
						<div class="gauge-1"> </div>
						<div class="gauge-2">
							80
						</div>
						<div class="gauge-1"> </div>
						<div class="gauge-2">
							70
						</div>
						<div class="gauge-1"> </div>
						<div class="gauge-2">
							60
						</div>
						<div class="gauge-1"> </div>
						<div class="gauge-2">
							50
						</div>
						<div class="gauge-1"> </div>
						<div class="gauge-2">
							40
						</div>
						<div class="gauge-1"> </div>
						<div class="gauge-2">
							30
						</div>
						<div class="gauge-1"> </div>
						<div class="gauge-2">
							20
						</div>
						<div class="gauge-1"> </div>
						<div class="gauge-2">
							10
						</div>
						<div class="gauge-1"> </div>
						<div class="gauge-2">
							00
						</div>
					</div>
				</div>
			</div>
			<div class="panel-base">				
			</div>
			<div class="panel-20">
				20-62
			</div>
		</section>
		<section id="column-3">
			<div class="top-wrapper">
				<div class="top-display">
					<div class="top-display-left">
						<nav id="primary-nav">
							<a href="https://www.thelcars.com">TheLCARS.com</a>
							<a role="button" onclick="toggleSpotifyControl()">SPOTIFY CONTROL: <span id="spotifyPlaybackStatus">OFF</span></a>
							<a role="button" onclick="controlPlayback('end')">TERMINATE SERVER</a>
						</nav>
						<div class="chunk"> </div>
						<div class="panel-wrapper">
							<div class="panel-1"><div class="lcars-access">
                                <a>Web App Status: <span id="webAppOnlineStatus" class="blink medium-dark-blue">Unknown</span></a>
                            </div></div>
							<div class="panel-1"><div class="lcars-access">
								<a>DMX NETWORK: <span class="blink medium-dark-blue" id="DMXConnectionStatus">{{DMXConnected}}</span></a>
                            </div></div>
							<div class="panel-1"><div class="lcars-access">
								<a>OBS CONNECTION: <span class="blink medium-dark-blue" id="OBSConnectionStatus">{{OBSConnected}}</span></a>
                            </div></div>
						</div>

						<div class="chunk"> </div>

						<div class="panel-wrapper">
							<div class="panel-1"><div class="lcars-access">
								<a>TIME REMAINING: <span class="medium-dark-blue" id="timeRemaining">00:00</span></a>
							</div></div>
						</div>
						
					</div>
					<div class="top-display-right">
						<div class="top-display-content">
							<div class="top-arch-1">
								<div class="top-arch-2">
									<div class="top-arch-content">
										<div class="lcars-heading pb-2">LASER TAG SCOREBOARD NETWORK</div>

										<div class="card mb-2" style="background-color: var(--dark-gray); color: #ffffff;">

											<div class="card-header collapsed" role="button" onclick="$('#lightingCardBody').collapse('toggle')">Lighting Control</div>

											<div id="lightingCardBody" class="card-body collapse">

												<div id="fixtures-container"></div>

											</div>

										</div>

										<div class="card mb-2" style="background-color: var(--dark-gray); color: #ffffff;">

											<div class="card-header collapsed" role="button" onclick="$('#musicControlCardBody').collapse('toggle')">Music Control</div>

											<div id="musicControlCardBody" class="card-body collapse">

												<div class="musicControls p-1" style="display: flex; align-items: center; background-color: #000; border-radius: 20px; gap: 10px; width: fit-content;">

													<i role="button" onclick="restartSong()" class="fa-solid fa-backward"></i>
													<i role="button" id="playingIncidator" onclick="toggleMusic()" class="fa-regular fa-circle-play"></i>
													<i role="button" onclick="nextSong()" class="fa-solid fa-forward"></i>
													
												</div>
											</div>

										</div>

                                        <!-- <div style="height: 400px; overflow-y: scroll; line-height: 20px;" id="messages"></div> -->

										<!-- <table class="table table-bordered border-dark" style="font-size: 0.8rem; margin: 0;">
											<thead>
												<tr>
													<th class="text-center text-white bg-danger">Red Team</th>
													<th class="text-center text-white bg-success">Green Team</th>
												</tr>
											</thead>
											<tbody id="scoresTable">
												<tr id="1" class="bg-dark"></tr>
													<td class="text-center text-white bg-dark">
														Alpha - <span id="gun-1-score">0</span> - <span id="gun-1-accuracy">0%</span>
													</td>
													<td class="text-center text-white bg-dark">
														Dodger - <span id="gun-11-score">0</span> - <span id="gun-11-accuracy">0%</span>
													</td>
												</tr>
												<tr id="2" class="bg-dark">
													<td class="text-center text-white bg-dark">
														Apollo - <span id="gun-2-score">0</span> - <span id="gun-2-accuracy">0%</span>
													</td>
													<td class="text-center text-white bg-dark">
														Dragon - <span id="gun-12-score">0</span> - <span id="gun-12-accuracy">0%</span>
													</td>
												</tr>
												<tr id="3" class="bg-dark">
													<td class="text-center text-white bg-dark">
														Chaos - <span id="gun-3-score">0</span> - <span id="gun-3-accuracy">0%</span>
													</td>
													<td class="text-center text-white bg-dark">
														Eagle - <span id="gun-13-score">0</span> - <span id="gun-13-accuracy">0%</span>
													</td>
												</tr>
												<tr id="4" class="bg-dark">
													<td class="text-center text-white bg-dark">
														Cipher - <span id="gun-4-score">0</span> - <span id="gun-4-accuracy">0%</span>
													</td>
													<td class="text-center text-white bg-dark">
														Eliminator - <span id="gun-14-score">0</span> - <span id="gun-14-accuracy">0%</span>
													</td>
												</tr>
												<tr id="5" class="bg-dark">
													<td class="text-center text-white bg-dark">
														Cobra - <span id="gun-5-score">0</span> - <span id="gun-5-accuracy">0%</span>
													</td>
													<td class="text-center text-white bg-dark">
														Elite - <span id="gun-15-score">0</span> - <span id="gun-15-accuracy">0%</span>
													</td>
												</tr>
												<tr id="6" class="bg-dark">
													<td class="text-center text-white bg-dark">
														Comet - <span id="gun-6-score">0</span> - <span id="gun-6-accuracy">0%</span>
													</td>
													<td class="text-center text-white bg-dark">
														Falcon - <span id="gun-16-score">0</span> - <span id="gun-16-accuracy">0%</span>
													</td>
												</tr>
												<tr id="7" class="bg-dark">
													<td class="text-center text-white bg-dark">
														Commander - <span id="gun-7-score">0</span> - <span id="gun-7-accuracy">0%</span>
													</td>
													<td class="text-center text-white bg-dark">
														Ghost - <span id="gun-17-score">0</span> - <span id="gun-17-accuracy">0%</span>
													</td>
												</tr>
												<tr id="8" class="bg-dark">
													<td class="text-center text-white bg-dark">
														Cyborg - <span id="gun-8-score">0</span> - <span id="gun-8-accuracy">0%</span>
													</td>
													<td class="text-center text-white bg-dark">
														Gladiator - <span id="gun-18-score">0</span> - <span id="gun-18-accuracy">0%</span>
													</td>
												</tr>
												<tr id="9" class="bg-dark">
													<td class="text-center text-white bg-dark">
														Cyclone - <span id="gun-9-score">0</span> - <span id="gun-9-accuracy">0%</span>
													</td>
													<td class="text-center text-white bg-dark">
														Hawk - <span id="gun-19-score">0</span> - <span id="gun-19-accuracy">0%</span>
													</td>
												</tr>
												<tr id="10" class="bg-dark">
													<td class="text-center text-white bg-dark">
														Delta - <span id="gun-10-score">0</span> - <span id="gun-10-accuracy">0%</span>
													</td>
													<td class="text-center text-white bg-dark">
														Hyper - <span id="gun-20-score">0</span> - <span id="gun-20-accuracy">0%</span>
													</td>
												</tr>
												<tr id="11" class="bg-dark">
													<td class="text-center text-white bg-dark">
													</td>
													<td class="text-center text-white bg-dark">
														Inferno - <span id="gun-21-score">0</span> - <span id="gun-21-accuracy">0%</span>
													</td>
												</tr>
											</tbody>
										</table> -->
									</div>
									<div class="top-arch-panel-1">
									</div>
									<div class="top-arch-panel-2">
																
									</div>
								</div>
							</div>							
						</div>
						<div class="arch-bottom">
							<div class="arch-base"> </div>
						</div>
					</div>
				</div>
				<div class="top-display-bottom">					
					<div class="bar-elbow"></div>
					<div class="bar-1"></div>
					<div class="bar-2"></div>
					<div class="bar-3"></div>
					<div class="bar-4">
						
					</div>
					<div class="bar-5"></div>		
				</div>
			</div> <!-- / top-wrapper -->
			<div class="spacer">
				<div class="space-sidebar"></div>
				<div class="space-1"></div>
				<div class="space-2"></div>
				<div class="space-3"></div>
				<div class="space-4"></div>
			</div>
			<div class="wrap">
				<div class="scroll-top"><a id="scroll-top" href=""><span class="hop">screen</span> top</a></div>
				<div class="left-frame">
					<div>
						<div class="panel-3">03<span class="hop">-111968</span></div>
						<nav id="secondary-nav">
							<a href="">BULKHEAD LIGHTS STATUS: <span id="bulkheadLightStatus">OFF</span></a>
							<a href="">BUTTON-05</a>
							<a href="">BUTTON-06</a>
						</nav>
					</div>
				</div>
				<div class="right-frame">
					<div class="bar-runner">
						<div class="bar-6"></div>
						<div class="bar-7"></div>
						<div class="bar-8"></div>
						<div class="bar-9"></div>
						<div class="bar-10"></div>
					</div>
					<main>

						<!-- Start your content here. -->
						
							<h1>Current Game Status &#149 <span id="gameStatus" class="blink-slow go-mars">Disconnected</span></h1>

						<!-- End content area -->						

						<footer>
							<div class="footer-inside">
								<div class="footer-text">

								</div>
							</div>
							<div class="footer-panel"> <span class="hop">22</span>47 </div>
						</footer>
					</main>
				</div>
			</div>
		</section>
	</div>
	<script type="text/javascript" src="assets/lcars.js"></script>
</body>

</html>

<script>

    var controlSpotify = false;
	var gamePlayingStatus = "stopped"
    var socket = io.connect('http://' + document.domain + ':8080', {transports: ['websocket']});

    window.onload = function() {

		var lastBPM = 0;

		fetchFixtures();

        console.log("LCARS Inspired Website Template by https://www.thelcars.com www.TheLCARS.com");	

        socket.on('connect', function() {
            socket.emit('client_event', {data: 'Client connected!'});
            socket.emit('spotifyControlStatus', {data: controlSpotify});
            console.log("SpotifyControl: " + controlSpotify);
            console.log("Client connected!");

			if (controlSpotify == true){
				$("#spotifyPlaybackStatus").text("ON")
			} else {
				$("#spotifyPlaybackStatus").text("OFF")
			}

            $("#gameStatus").removeClass("go-red").addClass("go-blue");
            $("#gameStatus").text("Waiting");

			$("#webAppOnlineStatus").text("ONLINE");

			try{

            var messageDiv = document.getElementById('messages');

            messageDiv.innerHTML += '<p class="text-success">Connected @ '+Date.now()+'</p>';
			}
			catch(err){}
        });

        socket.on('start', function(msg) {

			gamePlayingStatus = "playing";

            console.log(msg);

			for (let i = 1; i <= 21; i++) {
				$("#gun-" + i + "-score").text("0");
				$("#gun-" + i + "-accuracy").text("0%");
			}

            var gameStatus = document.getElementById('gameStatus');

            $("#gameStatus").removeClass("go-red go-blue go-green").addClass("go-green");
            $("#gameStatus").text("Game in Progress...");

			try{

				var messageDiv = document.getElementById('messages');

				messageDiv.innerHTML += '<p class="text-success">' + msg.message + '</p>';
			}
			catch(err){}
        });

		socket.on('obsStatus', function(msg) {
            console.log(msg.message);

			$("#OBSConnectionStatus").val(msg.message)
			
        });

		socket.on('dmxStatus', function(msg) {
            console.log(msg.message);

			$("#DMXConnectionStatus").val(msg.message)
            
        });

        socket.on('end', function(msg) {

			gamePlayingStatus = "stopped";

            console.log(msg);

			for (let i = 1; i <= 21; i++) {
				$("#gun-" + i + "-score").text("0");
				$("#gun-" + i + "-accuracy").text("0%");
			}

            var gameStatus = document.getElementById('gameStatus');

			$("#timeRemaining").text("00:00");

            $("#gameStatus").removeClass("go-red go-blue go-green").addClass("go-mars");
            $("#gameStatus").text('Game ended at ' + new Date().toLocaleTimeString());
        });

        socket.on('server', function(msg) {
            console.log(msg);

			try{
            var messageDiv = document.getElementById('messages');

            messageDiv.innerHTML += '<p class="text-danger">' + msg.message + '</p>';
			}
			catch(err){}
        });

		socket.on('gameMode', function(msg) {
            console.log("Game Mode: ", msg.message);

			try{
            var messageDiv = document.getElementById('messages');

            messageDiv.innerHTML += '<p class="text-danger">' + msg.message + '</p>';
			}
			catch(err){}
        });

		socket.on('gunScores', function(msg) {
			if (gamePlayingStatus == "stopped"){
				return;
			}

            console.log("gunScore: "+msg);

			var gunScores = msg.message.split(',');

			var gunId = gunScores[0];
			var finalScore = gunScores[1];
			var Accuracy = gunScores[2];

			console.log("Gun ID: " + gunId + " Score: " + finalScore + " Accuracy: " + Accuracy);

			$("#gun-"+gunId+"-score").text(finalScore);
			$("#gun-"+gunId+"-accuracy").text(Accuracy+"%");

			//sortScoresTable();
        });

        socket.on('disconnect', function() {
            var messageDiv = document.getElementById('messages');

			$("#webAppOnlineStatus").text("UNKNOWN");
			
			try{
            messageDiv.innerHTML += '<p class="text-danger">Disconnected @ '+Date.now()+'</p>';
			}

			catch(err){}
        });

		let currentTimeLeft;
	let countdownInterval;

	socket.on('timeRemaining', function (msg) {
		if (gamePlayingStatus == "stopped"){
				return;
		}

		const newTime = parseInt(msg.message);

		// If the current time is different from the new time, update the countdown
		if (currentTimeLeft !== newTime) {
			currentTimeLeft = newTime;

			// If there's an existing interval, clear it
			if (countdownInterval) {
				clearInterval(countdownInterval);
			}

			// Start the countdown
			countdownInterval = setInterval(function () {
				if (currentTimeLeft <= 0) {
					clearInterval(countdownInterval);
					return;
				}

				currentTimeLeft--;

				const formattedTime = formatTime(currentTimeLeft);
				$("#timeRemaining").text(formattedTime);
			}, 1000);
		}
	});

	async function getAlbumCover(albumName) {
        const apiKey = 'ce4aeea69e2f5a8fb184700d5892aa82';
        const response = await fetch(`http://ws.audioscrobbler.com/2.0/?method=album.search&album=${encodeURIComponent(albumName)}&api_key=${apiKey}&format=json`);
        const data = await response.json();
        if (data.results.albummatches.album.length > 0) {
            return data.results.albummatches.album[0].image[3]['#text'];
        } else {
            return null;
        }
    }

    // Listen for album name updates from the server
    socket.on('songAlbum', async function(albumName) {

		if (albumName == "None"){
			return;
		}

		console.log(albumName.message);
        const imageUrl = await getAlbumCover(albumName.message);
        if (imageUrl) {
            document.getElementById('album-cover').style.backgroundImage = 'url(' + imageUrl + ')';
        } else {
            console.log('Album cover not found.');
        }
    });

	socket.on('songName', function (msg) {
		console.log(msg.message);

		$("#musicPlaying").text(msg.message);
	});

	socket.on('musicStatus', function (msg) {
		console.log(msg.message);

		if (msg.message == "playing"){
			$("#playingIncidator").removeClass("fa-circle-play").addClass("fa-circle-pause");
		} else {
			$("#playingIncidator").removeClass("fa-circle-pause").addClass("fa-circle-play");
		}
	});

	socket.on('songBPM', function (msg) {
		console.log(msg.message);

		if (lastBPM == msg.message){
			return;
		}

		$("#musicBPM").text(msg.message);

		lastBPM = msg.message;

		if (msg.message == "0"){
			clearInterval(window.flashInterval);
			clearInterval(window.flashInterval2);

			return;
		}

		// Make a dot flash at the speed of the BPM
		const flashSpeed = 60000 / parseInt(msg.message); // Calculate flash speed in milliseconds

		// Clear any existing intervals to avoid multiple intervals running simultaneously
		clearInterval(window.flashInterval);
		clearInterval(window.flashInterval2);

		// Set a new interval for the dot flashing
		window.flashInterval = setInterval(function () {
			$("#flashingDot").css("opacity", function(_, currentOpacity) {
				return currentOpacity == 1 ? 0 : 1;
			});
		}, flashSpeed);

		window.flashInterval2 = setInterval(function () {
			$("#flashingDot2").css("opacity", function(_, currentOpacity) {
				return currentOpacity == 1 ? 0 : 1;
			});
		}, flashSpeed*2);

	});


	// Format the time in minutes and seconds
	function formatTime(seconds) {
		const minutes = Math.floor(seconds / 60);
		const remainingSeconds = seconds % 60;
		return `${minutes}:${remainingSeconds < 10 ? '0' : ''}${remainingSeconds}`;
	}
        
    };

    async function toggleSpotifyControl(){
        controlSpotify = !controlSpotify;

		if (controlSpotify == true){
			$("#spotifyPlaybackStatus").text("ON")
		} else {
			$("#spotifyPlaybackStatus").text("OFF")
		}

        socket.emit('SpotifyControl', {data: controlSpotify});

        console.log("SpotifyControl: " + controlSpotify);
    }

    async function controlPlayback(action) {
        if (action == "end"){
            if (window.confirm("Are you sure you want to terminate the server?")) {
                const response = await fetch(`/${action}`);
                const result = await response.json();
                alert(result.message || result.error);
				return;
			}
        }
		else{
			const response = await fetch(`/${action}`);
			const result = await response.json();
			alert(result.message || result.error);
		}
    }

	function sortScoresTable() {
        const table = document.getElementById('scoresTable');
        const rows = Array.from(table.rows);

        rows.sort((a, b) => {
			const scoreA = parseInt($(a).find("[id*='score']").text());
			const scoreB = parseInt($(b).find("[id*='score']").text());

            return scoreB - scoreA; // Sort in descending order
        });

        // Append the rows in sorted order
        rows.forEach(row => table.appendChild(row));
    }

	async function fetchFixtures() {
        const response = await fetch(`/api/availableFixtures`);
        const fixtures = await response.json();

        const container = document.getElementById('fixtures-container');
        fixtures.forEach(fixture => {
            const fixtureDiv = document.createElement('div');
            fixtureDiv.className = 'fixture';

            const slider = document.createElement('input');
            slider.type = 'range';
            slider.min = 0;
            slider.max = 255;
            slider.value = 0;
            slider.className = 'slider';
            slider.oninput = function() {
                updateDMXValue(fixture.id, this.value);
            };

            const label = document.createElement('div');
            label.className = 'label';
            label.textContent = fixture.name;

            fixtureDiv.appendChild(slider);
            fixtureDiv.appendChild(label);
            container.appendChild(fixtureDiv);
        });
    }

    function updateDMXValue(fixtureId, value) {
        console.log(`Fixture ID: ${fixtureId}, DMX Value: ${value}`);
        // Add your logic to update the DMX value here
    }

	function toggleMusic(){
		socket.emit('toggleMusic');
	}

	function nextSong(){
		socket.emit('nextSong');
	}

	function restartSong(){
		socket.emit('restartSong');
	}
</script>
