<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
	<meta charset="UTF-8">
	<title>{{SysName}} - {{PageTitle}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/LCARS/lcars-colors.css') }}" rel="stylesheet">
    <!-- <link href="{{ url_for('static', filename='styles/LCARS/lcars-ultra-picard.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='styles/LCARS/jquery-3-7-0.min.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', filename='styles/LCARS/lcars.js') }}"></script> -->
	<script src="https://kit.fontawesome.com/9d35a24d36.js" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='styles/main.css') }}" rel="stylesheet">
	<script src="{{ url_for('static', filename='scripts/socketEvents.js') }}"></script>
	<script src="{{ url_for('static', filename='scripts/datatableDisplayFunctions.js') }}"></script>

	<link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.2.2/b-3.2.2/b-colvis-3.2.2/b-html5-3.2.2/b-print-3.2.2/cr-2.0.4/date-1.5.5/fc-5.0.4/fh-4.0.1/sb-1.8.2/sl-3.0.0/datatables.min.css" rel="stylesheet" integrity="sha384-3uWBTGR8EF3Rau5R6I5PeTowZlHwH+IGCvl8u/ASspZf8Qn6vTT6oBFlceBvEWYO" crossorigin="anonymous">
 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js" integrity="sha384-VFQrHzqBh5qiJIU0uGU5CIW3+OWpdGGJM9LBnGbuIH2mkICcFZ7lPd/AAtI7SNf7" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js" integrity="sha384-/RlQG9uf0M2vcTw3CX7fbqgbj/h8wKxw7C3zu9/GxcBPRKOEcESxaxufwRXqzq6n" crossorigin="anonymous"></script>
	<script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/jszip-3.10.1/dt-2.2.2/b-3.2.2/b-colvis-3.2.2/b-html5-3.2.2/b-print-3.2.2/cr-2.0.4/date-1.5.5/fc-5.0.4/fh-4.0.1/sb-1.8.2/sl-3.0.0/datatables.min.js" integrity="sha384-w87dPisG6+Rmv1VTwjCR2Fd/6kZZU4aQCuog0Hgl0Xih3gukzW/XvhiWL4j0M0I2" crossorigin="anonymous"></script>
</head>

<body>

	<div id="warningsContainer" class="warning">
		<h1 id="warningsText"></h1>
	</div>

	<div id="notificationContainer" class="notifications cursor-pointer" style="opacity: 0;">
		<div class="p-1">
			<span id="notificationList"></span>
		</div>
	</div>

	<div class="sidebar" id="sidebar">
		<ul>
			<li class="nav-item closeSidebarButton" onclick="toggleSidebar();" role="button">
				<a class="nav-link"><i id="toggleSideBarButton" class="sidebarIcon fas fa-angles-left me-2"></i></a>
			</li>
			<li class="nav-item" onclick="window.location.href='/'" role="button">
				<a class="nav-link"><i class="fas fa-home sidebarIcon"></i><span class="sidebarText">Home</span></a>
			</li>
			<li class="nav-item" onclick="window.location.href='/managerTools'" role="button">
				<a class="nav-link"><i class="fas fa-screwdriver-wrench sidebarIcon"></i><span class="sidebarText">Manager Tools</span></a>
			</li>
			<!-- <li class="nav-item" onclick="window.location.href='/scoreboard'" role="button">
				<a class="nav-link"><i class="fas fa-table-columns sidebarIcon"></i><span class="sidebarText">Scoreboard</span></a>
			</li> -->
			<!-- <li class="nav-item" onclick="window.location.href='/statistics'" role="button">
				<a class="nav-link"><i class="fas fa-chart-column sidebarIcon"></i><span class="sidebarText">Statistics</span></a>
			</li> -->
			<!-- <li class="nav-item" onclick="window.location.href='/cameras'" role="button">
				<a class="nav-link"><i class="fa-solid fa-video sidebarIcon"></i><span class="sidebarText">Cameras</span></a>
			</li> -->
			<!-- <li class="nav-item" onclick="window.location.href='/patchPanel'" role="button">
				<a class="nav-link"><i class="fas fa-regular fa-lightbulb me-2"></i><span class="sidebarText">Patch</span></a>
			</li> -->
			<li class="nav-item" onclick="window.location.href='/status'" role="button">
				<a class="nav-link"><i class="fas fa-chart-line sidebarIcon"></i><span class="sidebarText">System Status</span></a>
			</li>
			<li class="nav-item" onclick="window.location.href='/editScene'" role="button" onmouseover="this.querySelector('.sidebarIcon').classList.replace('fa-regular', 'fa-solid')" onmouseout="this.querySelector('.sidebarIcon').classList.replace('fa-solid', 'fa-regular')">
				<a class="nav-link"><i class="fa-regular fa-lightbulb sidebarIcon"></i><span class="sidebarText">Lighting Controls</span></a>
			</li>
			<li class="nav-item" onclick="window.location.href='/feedback'" role="button" onmouseover="this.querySelector('.sidebarIcon').classList.replace('fa-comment', 'fa-comment-dots')" onmouseout="this.querySelector('.sidebarIcon').classList.replace('fa-comment-dots', 'fa-comment')">
				<a class="nav-link"><i class="fas fa-comment sidebarIcon"></i><span class="sidebarText">Leave Feedback</span></a>
			</li>
			<!-- <li class="nav-item" onclick="window.location.href='/experimental'" role="button">
				<a class="nav-link"><i class="fas fa-flask sidebarIcon"></i><span class="sidebarText">Experimental</span></a>
			</li> -->
			<li class="nav-item" onclick="window.location.href='/settings'" role="button">
				<a class="nav-link"><i class="fas fa-gear settingsIcon sidebarIcon"></i><span class="sidebarText">Settings</span></a>
			</li>
			<li class="nav-item" onclick="window.location.href='/logout'" role="button" onmouseover="this.querySelector('.logoutIcon').classList.replace('fa-door-closed', 'fa-door-open')" onmouseout="this.querySelector('.logoutIcon').classList.replace('fa-door-open', 'fa-door-closed')">
				<a class="nav-link"><i class="fas fa-door-closed logoutIcon sidebarIcon"></i><span class="sidebarText">Logout</span></a>
			</li>
		</ul>
		<div class="sidebar-footer">
			Maintained by Ben Mercer
			<br>
			<small>V {{VersionNo}}</small>
		</div>
	</div>

	<main id="main">

		{% block content %}

		{% endblock %}

	</main>

</body>

<script>

	function toggleSidebar(){
		if ($("#sidebar").hasClass("collapsed")){
			$("#sidebar").removeClass("collapsed");
			$("#main").removeClass("collapsed");
			$("#toggleSideBarButton").addClass("fa-angles-left");
			$("#toggleSideBarButton").removeClass("fa-angles-right");
		} else {
			$("#sidebar").addClass("collapsed");
			$("#main").addClass("collapsed");
			$("#toggleSideBarButton").removeClass("fa-angles-left");
			$("#toggleSideBarButton").addClass("fa-angles-right");
		}
	}

	function createWarning(contents){
		if (contents == "Restart"){
			//$("#warningsText").text(contents);
	
			try{
				if (countdownInterval) {
					clearInterval(countdownInterval);
				}
			}
			catch{}
	
			TimeUntilRestart = 60;
	
			RestartCountdownInterval = setInterval(function () {
				if (TimeUntilRestart <= 0) {
					clearInterval(RestartCountdownInterval);
					return;
				}
	
				TimeUntilRestart--;
	
				const formattedTime = formatTime(TimeUntilRestart);
				$("#warningsText").text("warning: System restarting in " + formattedTime + " | MUSIC CONTROL WILL NOT BE AVAILABLE DURING THIS PERIOD");
			}, 1000);
		}
		else{
			$("#warningsText").text(contents);
		}
	
		$("#warningsContainer").css("display", "unset");
	}

	function showNotifications(){
		$("#notificationContainer").css("opacity", 100);
	}

	function hideNotifications(){
		$("#notificationContainer").css("opacity", 0);
	}

	function createNotification(text, coolDown = 7000){
		$("#notificationList").html(text);

		showNotifications();

		setTimeout(function() {
			hideNotifications();
		}, coolDown);
	}

	$("#notificationContainer").on("click", function(){
		hideNotifications();
	});


</script>

</html>