{% extends "layout.html" %}

{% block content %}

<div class="card">

    <div class="card-header collapsed pcDetailsHeader">

        <span>
            <span id="webAppStatusIcon" class="fa fa-circle me-2" style="color: green;"></span>
            <span id="webAppConnectionText">CONNECTED</span>
        </span>
        <span><span class="fa fa-chart-line me-2"></span id="currentRamUsage">RAM - 4GB (60%)</span>
        <span><span class="fa fa-clock me-2"></span id=uptimeText>Uptime - 3 Days : 21 Hours : 32 Minutes</span>
        <span><span class="fa fa-bug me-2"></span>Errors Logged - <span id="totalErrorsLoggedText">0</span> (Past 8 hours)</span>

        <span class="float-end"><span class="fa fa-wrench me-2"></span>Last Updated: <span id="lastUpdatedText">00:20</span></span>

    </div>

</div>

<div class="card">

    <div class="card-header">Background Service Status</div>

    <div class="card-body">

        <div class="backgroundServiceStatusContainer">

            <div class="backgroundServiceStatus" id="api">

                <div class="backgroundServiceName"><h5>API</h5></div>

                <div class="backgroundServiceStatusIcon"><span id="statusIcon" class="fa fa-circle me-2" style="color: grey;"></span><span id="statusText">Unknown</span></div>

                <div class="backgroundServiceErrors"><span id="hoursNumber">0</span> errors (Past 8 hours)</div>

                <button class="btn btn-danger col-12">Restart API Service</button>

            </div>

            <div class="backgroundServiceStatus" id="music">

                <div class="backgroundServiceName"><h5>Music Control</h5></div>

                <div class="backgroundServiceStatusIcon"><span id="statusIcon" class="fa fa-circle me-2" style="color: grey;"></span><span id="statusText">Unknown</span></div>

                <div class="backgroundServiceErrors"><span id="errorsNumber">0</span> errors (Past 8 hours)</div>

                <button class="btn btn-danger col-12">Restart Service</button>

            </div>
            
            <div class="backgroundServiceStatus" id="db">

                <div class="backgroundServiceName"><h5>DB Connection</h5></div>

                <div class="backgroundServiceStatusIcon"><span id="statusIcon" class="fa fa-circle me-2" style="color: grey;"></span><span id="statusText">Unknown</span></div>

                <div class="backgroundServiceErrors"><span id="hoursNumber">0</span> errors (Past 8 hours)</div>

                <button class="btn btn-danger col-12">Restart Service</button>

            </div>

            <div class="backgroundServiceStatus" id="obs">

                <div class="backgroundServiceName"><h5>OBS Control</h5></div>

                <div class="backgroundServiceStatusIcon"><span id="statusIcon" class="fa fa-circle me-2" style="color: grey;"></span><span id="statusText">Unknown</span></div>

                <div class="backgroundServiceErrors"><span id="errorsNumber">0</span> errors (Past 8 hours)</div>

                <button class="btn btn-danger col-12">Restart OBS Service</button>

            </div>

            <div class="backgroundServiceStatus" id="dmx">

                <div class="backgroundServiceName"><h5>DMX Control</h5></div>

                <div class="backgroundServiceStatusIcon"><span id="statusIcon" class="fa fa-circle me-2" style="color: grey;"></span><span id="statusText">Unknown</span></div>

                <div class="backgroundServiceErrors"><span id="hoursNumber">0</span> errors (Past 8 hours)</div>

                <button class="btn btn-danger col-12">Restart DMX Service</button>

            </div>

        </div>

    </div>

</div>

<div class="card">

    <div class="card-header collapsed cursor-pointer" onclick="$('#logConsoleCardBody').toggle();">Live console</div>

    <div class="card-body" id="logConsoleCardBody" style="display: none;">

        {% include "_LogConsolePartial.html" %}

    </div>

</div>

<script>

    $(document).ready(function () {
        function fetchServiceStatus() {
            $.ajax({
                url: "/api/serviceStatus",
                type: "GET",
                success: function (response) {
                    var now = new Date();
                    var hours = now.getHours().toString().padStart(2, "0");
                    var minutes = now.getMinutes().toString().padStart(2, "0");
                    var totalErrors = 0;

                    $("#lastUpdatedText").text(hours + ":" + minutes);

                    response.forEach(function (service) {
                        var section = $("#" + service.serviceName);

                        var recentErrors = service.numberOfRecentErrors;
                        var serviceName = service.serviceName;
                        var serviceStatus = service.status;
                        totalErrors = totalErrors + recentErrors;
                        
                        if (section.length > 0) {
                            var statusContainer = section.find(".backgroundServiceStatusIcon");
                        
                            if (statusContainer.length > 0) {
                                var errorText = statusContainer.find("#statusText");
                                section.find("#errorsNumber").text(recentErrors);

                                if (serviceStatus == "Critical" && recentErrors == 0){
                                    errorText.text("DISCONNECTED")
                                } else {
                                    errorText.text(serviceStatus)
                                }

                                if (serviceStatus == "OK") {
                                    statusContainer.find("#statusIcon").css("color", "green");
                                } else if (serviceStatus == "Critical"){
                                    statusContainer.find("#statusIcon").css("color", "red");
                                } else if (serviceStatus == "Warning"){
                                     statusContainer.find("#statusIcon").css("color", "orange");
                                } else {
                                     statusContainer.find("#statusIcon").css("color", "grey");
                                }
                            }
                        }

                        $("#totalErrorsLoggedText").text(totalErrors);
                    });

                    $("#totalErrorsLoggedText").text(totalErrors);
                },
                error: function (xhr, status, error) {
                    $("#webAppConnectionText").text("DISCONNECTED");
                    $("#webAppStatusIcon").css("color", "red");

                    $("#statusText").forEach(function(text){
                        text.text("Unknown")                        
                    })
                    $("#errorsNumber").text("0");
                    $("#statusIcon").forEach(function(icon){
                        icon.css("color", "grey");
                    })

                    console.error("Error fetching Service Status:", error);
                }
            });
        }

        fetchServiceStatus();

        setInterval(fetchServiceStatus, 120000);
    });

</script>

{% endblock %}